!!! 5
%html
  %head
    - title = "Seriously.. it's just coffee."
    %title
      = title
    %link{:href=>'/app.css', :type=>'text/css', :rel=>'stylesheet'}
  %body
    %header
      %h1
        = title
    %section
      %ol
        %li Shut your laptop lid.
        %li Stand up from your chair.
        %li Go outside the office.
        %li Find a nice cafe near the office.
      %p
        See! That wasn't so hard.  Next time people are dilly-dallying at their cubicle, fire them this website.
