%header
  %h1= page_title
%section
  %ol
    - instructions.each do |instruction|
      %li= instruction
  %p
    See! That wasn't so hard.  Next time people are dilly-dallying at their cubicle, fire them this website.
